/* The foundation for the below lifted from http://raw.densitydesign.org/ */

header ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
	float: left;
}

header a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}

.header-cont {
	width: 100%;
	position: fixed;
	top: 0;
	
}

.container {
	margin: auto;
	max-width: 800px;
}