/* The foundation for the below lifted from http://raw.densitydesign.org/ */
/*header {
	height: 80px;
	margin: 0;
	padding: 0.8em;
	background: white;
	background-size: cover;
}

header ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
	float: none;
}

header a {
    display: block;
    width: 60px;
}

.header-cont {
	width: 100%;
	position: fixed;
	top: 0;
	clear: both;
}

.container {
	margin: auto;
	max-width: 800px;
}

nav-cont {
	margin: auto;
} */