html,body {
    height:100%;
}

.wrapper {
	min-height:100%;
	position:relative;
}

body{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

header{
    background: white;
    width: 100%;
    padding: 0;
    color: #444;
    text-align: center;
}

nav ul {
    background-color: #f7f7f7;
    overflow: hidden;
    color: #444;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li:hover{
    background-color: #e2e2e2;
}

header a, nav a {
    text-decoration: none;
    color: inherit;
}

main {
    padding: 40px;
    line-height: 1.5em;
    font-size: 0.9em;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 80px;
}

.handle{
    width: 100%;
    background: #9e9e9e;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: white;
    display: none;
}

.handle span {
    float:right;
}

footer{
    background-color: #e2e2e2;
    width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
}

@media screen and (max-width: 650px) {
    nav ul{
        max-height: 0;
    }
    .showing{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;
    }
    .handle{
        display: block;
    }
}